n8n_workflows/AI Job Assistant(3).json
{
  "name": "AI Job Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b870661b-79cb-45c9-855e-54e04fef4088",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        176,
        -176
      ],
      "webhookId": "3d047310-11a9-4b30-a0bc-7e144e70ffca"
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {}
      },
      "id": "d899f28a-bc6a-4b91-a044-248955350d9d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        464,
        -176
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "55e93fb7-e353-403a-a00f-915549fc091a",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        256
      ],
      "credentials": {
        "groqApi": {
          "id": "vtSGfalTg3cvE95X",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "name": "qdranttool",
        "description": "Cari informasi pekerjaan (job_title, company_name, job_description) di database vektor Qdrant.",
        "topK": 10
      },
      "id": "b1264cdd-7ef0-43f4-ad50-75a79adc3622",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        800,
        32
      ]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "job_embeddings",
          "mode": "list",
          "cachedResultName": "job_embeddings"
        },
        "options": {
          "contentPayloadKey": "page_content"
        }
      },
      "id": "ac8b6d83-f919-4144-8a6d-8f74962f8e29",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        784,
        256
      ],
      "credentials": {
        "qdrantApi": {
          "id": "a5kz780iJkEcCFFY",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "id": "5bd4ab74-5575-4561-bf4a-d8fedd6c012e",
      "name": "Cohere Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        736,
        432
      ],
      "credentials": {
        "cohereApi": {
          "id": "QsCkR7hAPfT24Qk1",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Gunakan tool ini HANYA JIKA pertanyaan berkaitan dengan ANGKA GAJI (salary) atau TIPE PEKERJAAN (work type seperti full time, part time, dll)",
        "operation": "executeQuery",
        "query": "={{$fromAI('query', 'The SQL SELECT query to execute')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        576,
        64
      ],
      "id": "e1e5a2f9-bf5f-4512-829f-18f7bf43d93c",
      "name": "Execute a SQL query in MySQL",
      "credentials": {
        "mySql": {
          "id": "xOlQBxV5ijBwMyEp",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        64
      ],
      "id": "e2bb8ea8-4976-4624-9409-e77275c52386",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dhYNJ3W2XKPAeDO9",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7946ff8e-6238-4ad7-82b9-41a83b91a038",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2d191aa5a7765d167f54affc1e1841d88547fed12ee32eae8a4c95363c5fb72"
  },
  "id": "nY2kCeNzJOh7XNnd",
  "tags": []
}